/* Breadcrumbs style */
.breadcrumb
{
    width: 100%;
    list-style: none;
    background-color: #eff4ff;
    padding: 5px 0 5px 15px;
    font-size: 20px;
}
.breadcrumb li
{
    padding: 5px;
    display: inline;
}
.breadcrumb li:before{content: ' / ';}
.breadcrumb li:first-child:before{content: '';}
.breadcrumb li a
{
    text-decoration: none;
    color: #2d89ef;
}
.breadcrumb li a:hover
{
    text-decoration: underline;
    color: #2d89ef;
}
.breadcrumb li a.active
{
    color: gray;
    text-decoration: none;
}