/* Labels style */
span.label
{
	padding: 5px;
	width: auto;
	height: auto;
}

span.label-default
{
	background-color: #bdc3c7;
	color: #ffffff;
	border-radius: 3px;
}
span.label-primary
{
	background-color: #2d89ef;
	color: #ffffff;
	border-radius: 3px;
}
span.label-success
{
	background-color: #00a300;
	color: #ffffff;
	border-radius: 3px;
}
span.label-info
{
	background-color: #eff4ff;
	color: #1d1d1d;
	border-radius: 3px;
}
span.label-warning
{
	background-color: #ffc40d;
	color: #ffffff;
	border-radius: 3px;
}
span.label-danger
{
	background-color: #ee1111;
	color: #ffffff;
	border-radius: 3px;
}