/* Lists style */
.list-group
{
    border: 1px solid #ddd;
    list-style: none;
    padding: 0;
    width: 100%
}
.list-group li
{
    padding: 10px;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
}
.list-group li:last-child{border: 0;}