/* Body style */
body
{
	padding: 0 1em 0 1em;
}

/* Page container style */
.container
{
	width: auto;
	height: auto;
	padding: 10px;
	border-radius: 3px;
	background-color: #ffffff;
    overflow: hidden;
}