/* Body style */
body
{
	padding: 0 1em 0 1em;
}

/* Page container style */
.container
{
	width: auto;
	height: auto;
	padding: 10px;
	border-radius: 3px;
	background-color: #ffffff;
    overflow: hidden;
}

/* Status paragraphs style */
.status-primary
{
	width: auto;
	height: auto;
	background-color: #2d89ef; /* primary */
	padding: 10px;
	color: white;
	margin: 10px 0 10px 0;
}
.status-success
{
	width: auto;
	height: auto;
	background-color: #99b433; /* success */
	padding: 10px;
	color: white;
	margin: 10px 0 10px 0;
}
.status-info
{
	width: auto;
	height: auto;
	background-color: #eff4ff; /* info */
	padding: 10px;
	color: black;
	margin: 10px 0 10px 0;
}
.status-warning
{
	width: auto;
	height: auto;
	background-color: #ffc40d; /* warning */
	padding: 10px;
	color: black;
	margin: 10px 0 10px 0;
}
.status-danger
{
	width: auto;
	height: auto;
	background-color: #ee1111; /* danger */
	padding: 10px;
	color: black;
	margin: 10px 0 10px 0;
}

/* Blockquote style */
blockquote
{
	margin: 10px;
	padding: 3px 3px 3px 20px;
	border-left: 5px solid lightgray;
}
blockquote p
{
	font-size: 24px;
}
blockquote footer
{
	padding: 0;
	margin: 0;
	font-size: 15px;
	color: gray;
}

/* Code block style */
kbd
{
	background-color: #1d1d1d;
	padding: 5px;
	color: white;
	border-radius: 5px;
	font-size: 14px;
}

/* Inline code style */
code
{
	background-color: #FDE8E8;
	padding: 5px;
	color: #ee1111;
	font-size: 15px;
}

/* Table style */
.table, .table th, .table td
{
	border-collapse: collapse;
}
.table
{
	width: 100%;
}
.table th
{
    text-align: left;
    border-bottom: 2px solid black;
    font-size: 20px;
}
.table td
{
	border-bottom: 1px solid black;
	font-size: 18px;
	padding: 3px;
}
.table tr:last-child td
{
	border-bottom: 0;
}

/* Flat(metro) colors */
	/*Bacground colors */
.bg-turquoise{background-color: #1abc9c;}
.bg-emerald{background-color: #2ecc71;}
.bg-peter-river{background-color: #3498db;}
.bg-amethyst{background-color: #9b59b6;}
.bg-wet-asphalt{background-color: #34495e;}
.bg-green-sea{background-color: #16a085;}
.bg-nephritis{background-color: #27ae60;}
.bg-belize-hole{background-color: #2980b9;}
.bg-wisteria{background-color: #8e44ad;}
.bg-midnight-blue{background-color: #2c3e50;}
.bg-sunflower{background-color: #f1c40f;}
.bg-carrot{background-color: #e67e22;}
.bg-alizarin{background-color: #e74c3c;}
.bg-clouds{background-color: #ecf0f1;}
.bg-concrete{background-color: #95a5a6;}
.bg-orange{background-color: #f39c12;}
.bg-pumpkin{background-color: #d35400;}
.bg-pomegranate{background-color: #c0392b;}
.bg-silver{background-color: #bdc3c7;}
.bg-asbestos{background-color: #7f8c8d;}
.bg-light-green{background-color: #99b433;}
.bg-green{background-color: #00a300;}
.bg-dark-green{background-color: #1e7145;}
.bg-magenta{background-color: #ff0097;}
.bg-light-purple{background-color: #9f00a7;}
.bg-purple{background-color: #7e3878;}
.bg-dark-purple{background-color: #603cba;}
.bg-darken{background-color: #1d1d1d;}
.bg-teal{background-color: #00aba9;}
.bg-light-blue{background-color: #eff4ff;}
.bg-blue{background-color: #2d89ef;}
.bg-dark-blue{background-color: #2b5797;}
.bg-yellow{background-color: #ffc40d;}
.bg-orange{background-color: #e3a21a;}
.bg-dark-orange{background-color: #da532c;}
.bg-red{background-color: #ee1111;}
.bg-dark-red{background-color: #b91d47;}
.bg-white{background-color: #ffffff;}
	/* Foreground colors */
.fg-turquoise{background-color: #1abc9c;}
.fg-emerald{background-color: #2ecc71;}
.fg-peter-river{background-color: #3498db;}
.fg-amethyst{background-color: #9b59b6;}
.fg-wet-asphalt{background-color: #34495e;}
.fg-green-sea{background-color: #16a085;}
.fg-nephritis{background-color: #27ae60;}
.fg-belize-hole{background-color: #2980b9;}
.fg-wisteria{background-color: #8e44ad;}
.fg-midnight-blue{background-color: #2c3e50;}
.fg-sunflower{background-color: #f1c40f;}
.fg-carrot{background-color: #e67e22;}
.fg-alizarin{background-color: #e74c3c;}
.fg-clouds{background-color: #ecf0f1;}
.fg-concrete{background-color: #95a5a6;}
.fg-orange{background-color: #f39c12;}
.fg-pumpkin{background-color: #d35400;}
.fg-pomegranate{background-color: #c0392b;}
.fg-silver{background-color: #bdc3c7;}
.fg-asbestos{background-color: #7f8c8d;}
.fg-light-green{background-color: #99b433;}
.fg-green{background-color: #00a300;}
.fg-dark-green{background-color: #1e7145;}
.fg-magenta{background-color: #ff0097;}
.fg-light-purple{background-color: #9f00a7;}
.fg-purple{background-color: #7e3878;}
.fg-dark-purple{background-color: #603cba;}
.fg-darken{background-color: #1d1d1d;}
.fg-teal{background-color: #00aba9;}
.fg-light-blue{background-color: #eff4ff;}
.fg-blue{background-color: #2d89ef;}
.fg-dark-blue{background-color: #2b5797;}
.fg-yellow{background-color: #ffc40d;}
.fg-orange{background-color: #e3a21a;}
.fg-dark-orange{background-color: #da532c;}
.fg-red{background-color: #ee1111;}
.fg-dark-red{background-color: #b91d47;}
.fg-white{background-color: #ffffff;}

/* Input text */
.input-box
{
    font-size: 25px;
    width: 100%;
    border: 1px solid black;
    border-radius: 2px;
}
.input-box:focus
{
    outline: none;
    box-shadow: 0 0 0 2px #2d89ef;
}

/* Buttons style */
.btn
{
    width: auto;
    height: auto;
    padding: 5px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 3px;
    border: 1px;
}
.btn-primary
{
    color: black;
    border: 1px solid black;
    background-color: #ffffff;
}
.btn-large{font-size: 19px;}
.btn-small{font-size: 10px;}
a.btn{text-decoration: none;}